/* ==========================================mobile & table ====================================*/

@media(max-width: 1024px) {
    .content-menu {
        margin-bottom: 15px;
    }
    .header-search-tablet-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header-nav-icon {
        font-size: var(--fontSize-Big);
        color: var(--while-color);
        width: 100%;
        height: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding-left: 0;
        cursor: pointer;
    }
    .header-nav-table-mob {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 40%;
        background-color: var(--while-color);
        box-shadow: var(--box-shadow);
        padding: 30px ;
        transition: .4s;
    }
    .header-nav-table-mob-list {
        list-style: none;
        padding-left: 0;    
        display: flex;
        flex-direction: column;
        row-gap: 3.5rem;
    }
    .header-nav-table-mob-link {
        color: var(--black-color);
        text-transform: uppercase;
        font-size: var(--fontSize-medium);
    }
    .header-nav-table-mob-close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: var(--fontSize-Big);
        color: var(--black-color);
        cursor: pointer;

    }
    .show-menu {
        right: 0;
    }
    /* ============CONTENT============ */
    .content-data__heading {
        font-size: var(--fontSize-Big);
    }
    .content-data__headingsub {
        font-size: var(--fontSize-medium);
    }
    .content-data__lang {
        font-size: var(--fontSize-verySmall);
        margin-top: 50px;
    }
    .content-slide {
        padding-top: 80%;
    }
    .content-data {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-data__title {
        width: 88%;
    }
    .hiden-on-tablet-mobile {
        display: none;
    }
    .on-tablet-mobile {
        display: block;
    }
    .content-news-row2 {
        margin-top: 0;
    }
    .content-news-small-sub {
        margin-top: 25px;
    }
    .content-dona {
        padding: 0 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .content-sub-img-dad {
        border: 4px solid;
        color: var(--main-color);
    }
    .content-news-small__full-link-sub {
        margin: 20px;
    }
    .content-sub-text-heading {
        font-size: var(--fontSize-Big);
        font-weight: 500;
    }
    .content-sub-text-para {
        font-size: var(--fontSize-medium);
    }
    .overflay {
        position: fixed;
        left: 0;right: 0; top: 0; bottom: 0;
        background-color: rgba(0,0,0, 0.3);
        display: none;
    }
    .show-overplay{
        display: block;
    }
    .header-logo {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .footer-share {
        text-align: center;
    }
    .footer-produce-last {
        text-align: right;
    }
}



/* =================mobile================= */
@media( max-width: 740px ) { 
    .content-data__heading {
        font-size: var(--fontSize-medium);
    }
    .content-data__headingsub {
        font-size: var(--fontSize-small);
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .content-data__title {
        padding: 0 10px;
    }
    .content-data__text {
        font-size: var(--fontSize-medium);
        line-height: 3rem;
    }
    .content-data-para {
        margin: 0 10px;
    }
    .content-news-small-sub-1 {
        padding-top: 25px;
    }
    .content-news-small-sub {
        height: 100%;
    }
    .content-news-small-sub {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content-news-small__nextsub {
        bottom: 0;
        position: relative;
        font-size: var(--fontSize-verySmall);
    }
    .content-news-row2 {
        row-gap: 2rem;
        padding-bottom: 20px;

    }
    .content-data__text {
        font-size: var(--fontSize-small);
    }
    .content-news {
        font-size: var(--fontSize-Big);
    }
    .content-news-small__heading {
        font-size: var(--fontSize-small);
    }
    .content-news-small__posts {
        font-size: var(--fontSize-small);
    }
    .content-news-small__icon {
        font-size: var(--fontSize-verySmall);
    }
    .footer-produce {
        text-align: center;
        flex-direction: column;
        display: block;
        margin-bottom: 20px;
    }
    .footer-produce-last {
        text-align: center;
    }
    .footer {
        margin-top: 25px;
    }
    
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .content-news-small__full {
        display: flex !important;
    }
}